
## Disclaimer

 This document, in any form, software or printed matter, contains proprietary information that is the exclusive property of Oracle. Your access to and use of this confidential material is subject to the terms and conditions of the Non-Disclosure Agreement between RedThorn and Oracle Corp. This document and information contained herein may not be disclosed, copied, reproduced, or distributed to anyone outside Oracle without prior written consent of Oracle. This document is not part of your license or services agreement nor can it be incorporated into any contractual agreement with Oracle or its subsidiaries or affiliates.
This document is for informational purposes only and is intended solely to assist you in evaluating the Oracle IaaS and/or Paas Public Cloud Services in a non-production context. It is not a commitment to deliver any material, code, or functionality, and should not be relied upon in making purchasing decisions. The development, release, and timing of any features or functionality described for Oracle products and services  remains at the sole discretion of Oracle.
The outcome of Oracle ISV Labs is to enable Redthorn OCI as outlined in this SOW, including any open source-based terraforms and tools/procedures, and it would be available to RedThorn to use freely with no restrictions or time limits and regardless of any NDA obligations.


---

## Contents
1. [Version History](#version-history)
2. [Current Status and Next Steps](#current-status-and-next-steps)
3. [Project Participants](#project-participants)
4. [Project Summary](#project-summary)
5. [Current Architecture](#current-architecture)
6. [Target Architecture](#target-architecture)
7. [Implementation Details](#implementation-details)
8. [Closing Remarks](#closing-remarks)

---


## Introduction


{{ detalles }}
---


